USE EpicCare;

IF EXISTS (
		SELECT NULL
		
		FROM INFORMATION_SCHEMA.TABLES
		
		WHERE TABLE_NAME = 'DEVICE_EXPOSURE_ClarityANES_LDA'
		)
	DROP TABLE OMOP_Clarity.DEVICE_EXPOSURE_ClarityANES_LDA;;


SELECT DISTINCT SUBSTRING(AoU_Driver.AoU_ID, 2, LEN(AoU_Driver.AoU_ID)) AS person_id
	--,AoU_Driver.CPI
	,IP_LDA_NOADDSINGLE.PAT_ID
	,IP_LDA_NOADDSINGLE.IP_LDA_ID
	,IP_LDA_NOADDSINGLE.PAT_ENC_CSN_ID as LDS_enc
	,F_AN_RECORD_SUMMARY.AN_52_ENC_CSN_ID ANES_enc
	,pat_enc_hsp.PAT_ENC_CSN_ID
	,IP_LDA_NOADDSINGLE.FLO_MEAS_ID
	,IP_FLO_GP_DATA.FLO_MEAS_NAME
	,IP_FLO_GP_DATA.DISP_NAME AS FLO_MEAS_DISP_NAME
	,IP_LDA_NOADDSINGLE.PLACEMENT_INSTANT
	,IP_LDA_NOADDSINGLE.REMOVAL_INSTANT
	,IP_LDA_NOADDSINGLE.DESCRIPTION
	,IP_LDA_NOADDSINGLE.PROPERTIES_DISPLAY
	,IP_LDA_NOADDSINGLE.SITE
	,PAT_ENC_HSP.BILL_ATTEND_PROV_ID
	,'pull_DEVICE_EXPOSURE--ClarityANES--LDA' AS ETL_Module
	--,pat_enc.*

INTO OMOP_Clarity.DEVICE_EXPOSURE_ClarityANES_LDA

FROM OMOP.AoU_Driver WITH (NOLOCK)

INNER JOIN EpicClarity.dbo.PAT_ENC (NOLOCK) 
	ON AoU_Driver.Epic_Pat_id = PAT_ENC.PAT_ID

-- associates anethesia EVENT to hospital encounter
  INNER JOIN EpicClarity.dbo.F_AN_RECORD_SUMMARY 
	on PAT_ENC.pat_enc_csn_id = F_AN_RECORD_SUMMARY.AN_52_ENC_CSN_ID

  inner join EpicClarity.dbo.AN_HSB_LINK_INFO 
	on F_AN_RECORD_SUMMARY.AN_EPISODE_ID=AN_HSB_LINK_INFO.SUMMARY_BLOCK_ID

  inner join EpicClarity.dbo.pat_enc_hsp 
	on AN_HSB_LINK_INFO.AN_BILLING_CSN_ID=pat_enc_hsp.pat_enc_csn_id
 
 -- LDA data 
INNER JOIN EpicClarity.dbo.IP_LDA_NOADDSINGLE WITH (NOLOCK)
	ON pat_enc.PAT_ENC_CSN_ID = IP_LDA_NOADDSINGLE.PAT_ENC_CSN_ID

INNER JOIN EpicClarity.dbo.IP_FLO_GP_DATA WITH (NOLOCK)
	ON IP_LDA_NOADDSINGLE.FLO_MEAS_ID = IP_FLO_GP_DATA.FLO_MEAS_ID

