USE EpicCare;


--TRUNCATE TABLE OMOP.device_exposure;
IF EXISTS (
		SELECT NULL
		
		FROM INFORMATION_SCHEMA.TABLES
		
		WHERE TABLE_NAME = 'DEVICE_EXPOSURE_ClarityHosp_Blood'
		)
	DROP TABLE OMOP_Clarity.DEVICE_EXPOSURE_ClarityHosp_Blood;;


WITH T_CODES
AS (
	SELECT BLOOD_ADMIN_INFO.ORDER_ID
		,BLOOD_ADMIN_INFO.BLOOD_ADMIN_UNIT
		,BLOOD_ADMIN_INFO.BLOOD_ADMIN_PROD
		,BLOOD_ADMIN_INFO.BLOOD_ADMIN_TYPE
		,ORDER_PROC.PROC_ID
		,ORDER_PROC.PROC_CODE
		,ORDER_PROC.ORDERING_DATE
		,CLARITY_EAP.PROC_NAME
	
	FROM EpicClarity.dbo.BLOOD_ADMIN_INFO
	
	INNER JOIN EpicClarity.dbo.ORDER_PROC
		ON BLOOD_ADMIN_INFO.ORDER_ID = ORDER_PROC.ORDER_PROC_ID
	
	INNER JOIN EpicClarity.dbo.CLARITY_EAP
		ON ORDER_PROC.PROC_ID = CLARITY_EAP.PROC_ID
	
	WHERE (BLOOD_ADMIN_INFO.LINE = 1)
	)

SELECT SUBSTRING(OMOP.AoU_Driver.AoU_ID, 2, LEN(OMOP.AoU_Driver.AoU_ID)) AS person_id
	,AoU_ID
	,PROC_START_TIME
	,PROC_ENDING_TIME
	,T_CODES.BLOOD_ADMIN_UNIT
	,ORDER_PROC.QUANTITY
	,ORDER_PROC.PROC_ID
	,ORDER_PROC.PROC_code
	,CLARITY_EAP.PROC_NAME
	,PAT_ENC_HSP.PAT_ENC_CSN_ID
	,ORDER_PROC.FUTURE_OR_STAND
	,ORDER_PROC.INSTANTIATED_TIME
	,AUTHRZING_PROV_ID
	,'pull_DEVICE_EXPOSURE--ClarityHosp--Blood' AS ETL_Module

INTO OMOP_Clarity.DEVICE_EXPOSURE_ClarityHosp_Blood

FROM EpicCare.OMOP.AoU_Driver

INNER JOIN EpicClarity.dbo.PAT_ENC_HSP
	ON AoU_Driver.Epic_Pat_id = PAT_ENC_HSP.PAT_ID

INNER JOIN EpicClarity.dbo.ORDER_PROC
	ON PAT_ENC_HSP.PAT_ENC_CSN_ID = ORDER_PROC.PAT_ENC_CSN_ID
		AND ORDER_PROC.FUTURE_OR_STAND IS NULL
		AND ORDER_PROC.INSTANTIATED_TIME IS NOT NULL

LEFT JOIN EpicClarity.dbo.CLARITY_EAP
	ON ORDER_PROC.PROC_ID = CLARITY_EAP.PROC_ID

INNER JOIN T_CODES
	ON ORDER_PROC.ORDER_PROC_ID = T_CODES.ORDER_ID

